body {
	font-family: 'Helvetica', sans-serif;
	font-size: 50px;
	line-height: 57px;
	font-weight: 700;
	font-style: normal;
}

a {
	color: #FFFFFF;
	text-decoration: none;
}

.header-container {
	height: 200px;
	background-color: #E5E000;
}

.mainHeading {
	line-height: 200px;
	color: #FFFFFF;
}

.image {
	height: 1440px;
	background-size: cover;
	background-image: url(../img/img.png);
}

.nav {
	height: 100px;
	background: #E5E000;
}

.navText {
	font-size: 25px;
	line-height: 105px;
	color: #FFFFFF;
	text-transform: uppercase;
}

.aboutPractice-container {
	height: 1050px;
}

.heading {
	line-height: 250px;
}

.mainText {
	font-weight: 300;
}

.footer-container {
	height: 200px;
	background: #E5E000;
	background-image: url(../img/logo.png);
	background-repeat: no-repeat;
	background-position: left;
}

.footerText {
	text-align: right;
	line-height: 200px;
	color: #FFFFFF;
}
