@font-face {
	src: url(../fonts/SpaceMono-Regular.ttf);
	font-family: 'Space Mono';
	font-weight: normal;
}

body {
    font-family: 'Space Mono', sans-serif;
    color: #FFFFFF;
    height: 100vh;
    background-image: url(../img/bg.png);
    background-size: cover;
    background-position: center;
    background-color: black;
}

h1 {
    font-family: Arial;
    font-style: italic;
    font-weight: bold;
    font-size: 60px;
    line-height: 69px;
    letter-spacing: -0.05em;
}

.page {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: pink;
}

.logo {
    background-color: red;
    width: 287px;
    height: 82px;
}

.navigation {
	display: flex;
	flex-direction: column;
}