body {
	font-family: 'Helvetica';
	font-weight: bold;
	font-size: 20px;
	line-height: 23px;
}

.header, .footer {
	box-sizing: border-box;
	height: 60px;
	padding: 20px;
	background-color: #FE1A19;
}

.header__text, .footer__text {
	color: #FFFFFF;
	text-transform: uppercase;
}

.content {
	box-sizing: border-box;
	padding: 27px 35px;
}

.recipe {
	width: 400px;
	height: 800px;
	display: inline-block;
	margin: 25px;
	padding: 33px;
	border: 5px solid #E5E000;
	box-sizing: border-box;
	border-radius: 30px;
}

.recipe__name {
	margin: 10px 0 18px;
}

.recipe__ingredients {
	font-family: Times New Roman;
	font-weight: normal;
}