body {
	font-size: 20px;
    line-height: 23px;
}

.header-container {
    height: 60px;
    padding: 20px;
    box-sizing: border-box;
    background-color: #FE1A19;
}

.headerText {
    font-family: Helvetica;
    font-weight: bold;
    color: #FFFFFF;
}

.recipes-container {
    height: 904px;
    text-align: center;
}

.recipeOne,
.recipeTwo,
.recipeThree {
    display: inline-block;
    width: 400px;
    height: 800px;
    margin: 33px 25px;
    padding: 33px;
    border: 5px solid #E5E000;
    box-sizing: border-box;
    border-radius: 30px;
    text-align: left;
}

.recipeHearing {
    font-weight: bold;
}

.recipeText {
    font-family: Times New Roman;
}

.footer-container {
	height: 60px;
    padding: 20px;
    box-sizing: border-box;
    background-color: #FE1A19;
}

.copyright {
font-family: Helvetica;
text-transform: uppercase;
    font-weight: bold;
    color: #FFFFFF;
}