body {
    font-family: 'Arial', sans-serif;
}

.paragraphStyle {
    font-weight: 400;
    font-size: 25px;
    line-height: 28.75px;
    letter-spacing: 5%;
}

.borderStyle {
    border: 3px solid #F8BFC7;
    border-radius: 20px;
    box-sizing: border-box;
}

.page {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.header {
    position: sticky;
    top: -1px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 140px;
    padding: 0 37.5px;
    background: white;
}

.navigation-container {
    display: flex;
}

.logo,
.linkOne,
.linkTwo,
.linkThree {
    margin: 12.5px;
    font-size: 50px;
    line-height: 57px;
    color: #E50043;
    text-decoration: none;
}

.mainBackground {
    display: flex;
    height: 950px;
    background-image: url(../img/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.mainHearing {
    margin: auto;
    font-size: 100px;
    line-height: 115px;
    color: #E50043;
}

.ourWater {
    padding: 150px 0;
}

.ourWater-container {
    margin: 0px auto;
    padding: 24px;
    width: 1040px;
    height: 280px;
}

.bottles-container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    box-sizing: border-box;
    width: 1040px;
    height: 969px;
    font-size: 25px;
    line-height: 29px;
    text-align: center;
}

.bottle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.composition-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 150px auto;
    height: 280px;
    width: 1040px;
}

.compositionLogo {
    height: 220px;
    width: 101px;
    margin: 0 80px;
    background-image: url(../img/evian.jpg);
}

.compositionText {
    height: 220px;
    width: 749px;
}

.footer-container {
    display: flex;
    height: 140px;
    background-color: #F8BFC7;
}

.copyright {
    margin: auto 50px;
    font-size: 50px;
    line-height: 57px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}