body {
    font-family: 'Helvetica', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 29px;
}

.blueStyle {
    display: flex;
    align-items: center;
    height: 100px;
    background-color: #0000FF;
    color: white;
    padding-left: 30px;
}

.content-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 220vw;
}

.block {
    display: flex;
    align-items: center;
    margin: auto;
    width: 88vw;
    height: 44vw;
    text-align: center;
    border: 5px solid #000000;
    box-sizing: border-box;
}

@media screen and (min-width: 376px) {
	.content {
		display: flex;
		justify-content: center;
		align-items: center;
		height: calc(100vh - 200px);
	}

    .content-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        height: calc(100% - 20vh); /* вычитаю из высоты контейнера заранее посчитанный процент отступов по бокам*/
        width: calc(100% - 15.3vh); /* вычитаю из ширины контейнера заранее посчитанный процент отступов сверху и снизу*/
    }

    .block {
    	width: calc((100% - 20px)/2);
    	height: calc((100% - 20px)/2);
    }

    .blockText {
        font-size: 50px;
        line-height: 58px;
    }

}